*{
  box-sizing: border-box;
}



header{
  margin: 0 auto;
  width: 100%;
}

#headerimage {
  margin: 10rem 0;
}

#projectitle{
  text-align: center;
  padding-top: 1rem;
  border-top: 4px solid #B9C7D1;
}

#viewbutton {
  text-align: center;
  margin: 10rem, 0;
}

.overview {
  max-width: 63rem;
  margin: 10rem auto;
  padding: 0 1rem;
  line-height: 2.2rem;
  text-align: left;
  justify-content: center;
}

ul {
  height: 100%;
}

.overview li {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}

#overview1 {
  padding-right: .5rem;
}

.container {
  margin: 0 auto;
  width: 100%;
}

section{
   height: auto;
   width: auto;
   border-top: 3px solid #B9C7D1;
}

section p {
  padding-top: 2rem;
  padding-bottom: 9rem;
  /*margin: 0 15rem;*/
}

.sectionbox {
    margin: 0 1rem;
}

.center {
    padding-top: 4rem;
}

.graphrow {
  display: flex wrap;
  justify-content: space-around;
  flex-direction: row;
}

.graph{
   background-color: #F7FAFB;
   margin: 3rem auto;
   padding: 3rem, 2rem;
   width: 320px;
   height: 350px;
   border-radius: .5rem .5rem .5rem .5rem;
}

.graph p {
  max-width: 29rem;
  text-align: left;
  padding-left: 2rem;
  padding-top: 20%;
}

.graph img {
  max-width: 295px;
  align-items: center;
  padding-left: 5%;
  }

.two p {
  padding-top: 5%;
}

.column  {
   max-height: auto;
   max-width: 36.5rem;
   padding-bottom: 8rem;
   margin-bottom: 8rem;
}

.columncenter {
  margin: 0 auto;
  padding-bottom:6rem;
  text-align: center;
  padding-top: 6rem;
}

.columncenter img{
  padding-bottom: 3rem;
}

.column ul {
  list-style-type: square;
  padding-left: 2rem;
  padding-bottom: 4rem;
}

.column h5 {
  padding-bottom: 2rem;
}

#swotconclusion {
  padding-top: 4rem;
  border-top: 1px solid #B9C7D1;
  border-length: 50px;
}

#inspiration{
  padding-bottom: 10rem;
}

#center {
  text-align: center;
  padding-top: 5rem;
}

.persona{
display: grid;
  grid-template-areas:
    "people"
    "tag"
    "cxlist";
    grid-template-columns: 36.5rem 1fr;
    grid-template-rows: 3 1fr;
}
.people{
  width: 40%;
  display: grid;
  max-height: auto;
  grid-area: people;
  padding-bottom: 8rem;
  margin-bottom: 10rem;

}

.profilepic {
  flex-shrink: 0;
  vertical-align: center;
}

  .personabox {
    max-width: 37rem;
    max-height: auto;
    line-height: 2.2rem;
    text-align: left;
  }


.icon {
  width: 30rem;
  display: grid;
  grid-template-columns: 2, 1fr;
  padding-left: 1.5rem;
}

  .icon p {
    padding: .2rem;
    width: 2.8rem;
    float: left;
    text-align: left;
    grid-column: 2.5rem;
  }

  .icon h5 {
     clear: left;
     width: 20rem;
     margin: auto .5rem;
     grid-column: 2 / span 2;
  }

.tag{
    width: 37rem;
    grid-row: 2 / span 1;
    grid-area: tag;
  }

.cxlist{
  margin: 10rem auto;
  line-height: 2.2rem;
  text-align: left;
  grid-area: cxlist;
  grid-row: 3;
}

  .checklist {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
  }


.checklist p {
  clear: left;
  width: 32rem;
  padding-left: 2rem;
}

.checklist img {
  width: 2rem;
  height: 2rem;
}

#userflowbox {
  margin-bottom: 9rem;
}
.slide {
  display: flex;
  overflow-x: auto;
  flex-grow: 0;
  margin-right: 2rem;
  margin-bottom: 6rem;
  padding: 0, 2rem;
  align-items: flex-start;
}

.slide img{
  margin-right: 2rem;
}

.testline{
     border-top: 1px solid #B9C7D1;
}

@media screen and (max-width:70rem) {
.column{
     border-top: 1px solid #B9C7D1;
  }

  #center{
      border-top: 1px solid #B9C7D1;
  }

  #columncenter{
      border-top: 1px solid #B9C7D1;
  }

  /*.sectionbox h3{
    border-top: 1px solid #B9C7D1;
  }*/
}
@media screen and (max-width:70rem){
.logoname{
  display: grid;
  grid-template-areas:
  ". . menu"
  "logo . .";
  grid-template-rows: 1;
  grid-template-columns: 20% 80% 20%;
  margin-top: 8rem;
  
}

.menu{
   grid-area: menu;
   grid-row: 1;
   grid-column: 3;
   margin: auto 0;
   padding-right: 2rem;
  }

  .logo{
    grid-area: logo;
    grid-row: 1;
    grid-column: 1;
  }
}

@media screen and (min-width:70rem) {

  .sectionbox {
      margin: 0 15rem;
  }

.viewbutton{
  margin: 45rem 0 45rem 0;
}

  .overview {
    margin: 19rem auto;
  }

  .probsol{
    height: 45rem;
    display: flex;
    flex-direction: row;
  }

  .problem{
    border-right: 1px solid #B9C7D1;
    margin: 2rem auto 2rem auto;
  }

  .graphrow {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 12.5rem;
  }

    .column{
      float: left;
      width: 33.3%;
      padding: 0 1.8rem;
    }

    .b {
      border-right: 1px solid #B9C7D1;
    }

    .analysis:after{
       content: "";
       display: table;
       clear: both;
}

.persona{
  display: flex;
}

.people {
  flex: 50%;
}


.inspiration{
  display: flex;
  justify-content: center;

}
#inspiration{
  margin-right: 5rem;
}

#brandsketch{
    max-height: 40rem;
}

#center{
  margin-top: 13rem;
}

.h{
  height: 80rem;
  position: relative;
}
#brandpic{
  position: absolute;
  bottom: 0;
}

    }

}
