*{
  box-sizing: border-box;
}

header{
  margin: 0 auto;
  width: 100%;
}

.logonamepage {
  display: grid;
  grid-template-columns: 10rem auto 10rem;
  grid-template-rows: 3rem auto 3rem;
  text-align: center;
  margin-top: 3rem;
}

.logosolo {
  grid-column: 1;
  grid-row: 2;
}

.menu {
  grid-column: 3;
  grid-row: 2;
}

#headerimage {
  margin: 10rem 0;
}

#projectitle {
  text-align: center;
  padding-top: 1rem;
  border-top: 4px solid #B9C7D1;
}

#viewbutton {
  text-align: center;
  margin: 10rem 0;
}

.overview {
  max-width: 63rem;
  margin: 10rem auto;
  padding: 0 1rem;
  line-height: 2.2rem;
  text-align: left;
  justify-content: center;
}

ul {
  height: 100%;
}

.overview li {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}

#overview1 {
  padding-right: .5rem;
}

.container {
  margin: 0 auto;
  width: 100%;
}

section {
   height: auto;
   width: auto;
   border-top: 3px solid #B9C7D1;
}

section p {
  padding-top: 2rem;
  padding-bottom: 9rem;
  /*margin: 0 15rem;*/
}

.sectionbox {
    margin: 0 1rem;
}

.center {
    padding-top: 4rem;
}

.graphrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.graph {
   background-color: #F7FAFB;
   margin: 3rem auto;
   padding: 3rem, 2rem;
   width: 320px;
   height: 350px;
   border-radius: .5rem .5rem .5rem .5rem;
}

.graph p {
  max-width: 29rem;
  text-align: left;
  padding-left: 2rem;
  padding-top: 20%;
}

.graph img {
  max-width: 295px;
  align-items: center;
  padding-left: 5%;
  }

.two p {
  padding-top: 5%;
}

.column {
   max-height: auto;
   max-width: 36.5rem;
   padding-bottom: 8rem;
   margin-bottom: 8rem;
}

.columncenter {
  margin: 0 auto;
  padding-bottom: 6rem;
  text-align: center;
  padding-top: 6rem;
}

.columncenter img {
  padding-bottom: 3rem;
}

.column ul {
  list-style-type: square;
  padding-left: 2rem;
  padding-bottom: 4rem;
}

.column h5 {
  padding-bottom: 2rem;
}

#swotconclusion {
  padding-top: 4rem;
  border-top: 1px solid #B9C7D1;
  border-length: 50px;
}

#inspiration{
  padding-bottom: 10rem;
}

#center {
  text-align: center;
  padding-top: 5rem;
}

.people {
  margin-bottom: 8rem;
  max-width: 37.5rem;
  max-height: auto;
  padding: 5rem 0 0 0;
  /*grid-template-areas:
    "personabox"
    "tag"
    "cxlist";*/
   /*grid-template-columns: 1;
    grid-template-rows: 20%, 15%, 65%;
  padding-bottom: 8rem;
  margin-bottom: 10rem;*/
}


.people p {
  padding: 0 0 0 0;
}

.profilepic {
    float: left;
    margin: 0 1rem;
}

  /*  .personabox {
  grid-area: personabox;
    max-width: 23rem;
    max-height: auto;
    text-align: left;
    padding-right: .5rem;
    line-height: 2.2rem;
    margin: auto 0;
  }*/

.icon {
  display: grid;
  grid-template-columns: 2.2rem, 34rem;
  grid-template-rows: 3rem;
  max-width: 37.5rem;
  padding-right: 1rem;
}

  .icon img {
    margin: 0 .3rem;
    grid-column: 1;
  }

  .icon h5 {
     width: 20rem;
     margin: auto 0;
     grid-column: 2;
     float: left;
     text-align: left;
     padding-left: .2rem;
  }

.tag{
    max-width: 37rem;
    padding: 4rem 0 4rem 0;
    /*grid-row: 2;
    grid-area: tag;*/
  }

  /*.cxlist{
margin: 0 auto;
  text-align: left;
  grid-area: cxlist;
  grid-row: 3;
  line-height: 2.2rem
}*/

  .checklist {
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: row;
  }

.checklist p {
  clear: left;
  max-width: 32rem;
  padding-left: 2rem;
}

.checklist img {
  width: 2rem;
  height: 2rem;
}

#userflowbox {
  margin-bottom: 9rem;
}

.slide {
  display: flex;
  overflow-x: auto;
  flex-grow: 0;
  margin-right: 2rem;
  margin-bottom: 6rem;
  padding: 0, 2rem;
  align-items: flex-start;
}

.slide img{
  margin-right: 2rem;
}

.testline{
     border-top: 1px solid #B9C7D1;
}

@media screen and (max-width:60rem) {

.column {
     border-top: 1px solid #B9C7D1;
  }

  #center{
      border-top: 1px solid #B9C7D1;
  }

  #columncenter{
      border-top: 1px solid #B9C7D1;
  }

  .s{
    border-top: 1px solid #B9C7D1;
  }

  .a {
    margin-bottom: 5rem;
  }

}





@media screen and (min-width:60rem) {

  .sectionbox {
      margin: 0 15rem;
  }

.viewbutton{
  margin: 45rem 0 45rem 0;
}

  .overview {
    margin: 19rem auto;
  }

  .probsol {
    height: 45rem;
    display: flex;
    flex-direction: row;
  }

  .problem {
    border-right: 1px solid #B9C7D1;
    margin: 2rem auto 2rem auto;
  }

  .solution {
    margin: 2rem auto;
  }

  .graphrow {
    display: flex wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 12.5rem;
  }

    .column {
      float: left;
      width: 33.3%;
      padding: 0 1.8rem;
    }

    .b {
      border-right: 1px solid #B9C7D1;
    }

    .analysis:after {
       content: "";
       display: table;
       clear: both;
}

.persona {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: auto 37.5 37.5 auto;
  margin-bottom: 12.5rem;
}

.people {
  /*padding: 0 1.8rem;
  margin: auto 0;*/
    margin-bottom: 8rem;
    padding: 5rem 0 0 0;
}

.personabox {
  max-width: 23rem;
  max-height: auto;
  margin auto 0;
}

.a {
  grid-column: 2;
  grid-row: 1;
  padding-right: 12rem;
  max-width: 158rem;
  max-height: auto;
}

.s {
  margin-right: 12rem;
  grid-column: 3;
  grid-row: 1;
  max-width: 158rem;
  max-height: auto;
  border-left: 1px solid #B9C7D1;
  padding-left: 12rem;
}

.inspiration {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 12rem;
  border-bottom: 1px solid #B9C7D1;
}

#inspiration {
  margin-right: 5rem;
}

#brandsketch {
  max-height: 40rem;
}

.brandevelop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75rem;
  margin: 16rem auto;
}

#center{
  margin-top: 13rem;
}

.h {
  position: relative;
  margin: 0 1rem;
}

.h p {
  vertical-align: text-top;
}

#brandpic{
  position: absolute;
  bottom: 0;
  width:90%;
  height: auto;
}

}
