@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400i,600,700,800');
*{
  box-sizing: border-box;
}

h1 {
  color: #48434C;
  font: 3.6rem "Muli", sans-serif;
  font-weight: 800;
}

h2 {
  font: 2.4rem/150% "Muli", sans-serif;
  font-weight: 600;
  color: #0C3F60;
  padding-top: 9rem;
}

h3 {
  font: 2rem/150% "Muli", sans-serif;
  font-weight: 500;
  color: #0C3F60;
}

h5 {
  font: 1.6rem/150% "Muli", sans-serif;
  font-weight: 600;
  color: #000508;
}

h6 {
  font: 1.6rem/150% "Muli", sans-serif;
  font-weight: 700;
  color: #000508;
}

li {
  font: 1.6rem/150% "Muli", sans-serif;
  font-weight: 300;
  color: #000508;
}

p {
  font: 1.6rem/150% "Muli", sans-serif;
  font-weight: 200;
  color: #000508;
}
/*trial*/
body {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "logoname"
  "nav"
  "hero"
  "mp"
  "main"
  "footer";

}

html{
  font-size: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  margin: 2rem, 0;
}

.nav {
    grid-area: nav;
    text-align: center;
    margin-bottom: 1.3rem;
}

.navbar-link {
  font: 1.6rem/150% "Muli", sans-serif;
  font-weight: 300;
  color: #000508;
  padding: .5rem 2rem;
  text-decoration: none;
}

.home {
  border-bottom: .7rem solid #57BFAF;
}

ul#top-navigation li{
  display: inline-block;
}

.logoname {
  align-items: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [logo] 30% [name] 70%;
  grid-template-rows: [row1-start] 4rem [row1-end] 4rem;
  /*grid-area: logoname;
  grid-template-columns: 1fr, 2fr, 3fr;
  grid-template-rows: (2, 1fr);*/
  /*grid-template-areas:
    "logo"
    "first"
    "last";*/
}

.logo {
  text-align: right;
  border-right: 1px solid #B9C7D1;
  margin: 2rem 4rem 2rem 4rem;
  padding-top: 2rem;
  padding-right: 4.5rem;
  /*grid-area: logo;*/
  grid-column: 1;
  grid-row: 1 / 2;
  height:  8.5rem;
  min-width: 8.5rem;
}

.name {
  align-items: center;
  vertical-align: middle;
  margin-left: 4rem;
}

.first {
  grid-column: 2;
  grid-row: 1;
  padding-left: 4.5rem;
  -webkit-text-stroke: .75px #000508;
  -webkit-text-fill-color: white;
  /*grid-area: first;*/
}

.last{
  grid-column: 2;
  grid-row: 2;
/*  grid-area: last;*/
}

.hero {
    background: url(../images/loop.jpg) center;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: center;
    max-height: 23rem;
    max-width: 106rem;
    text-align: left;
    margin: 0 auto;
    display: grid;
    height: 23rem;
    align-content: center;
  }

.bonpic {
  grid-area: bonpic;
  min-width: 25rem;
  height: 23rem;
}

.hero-text {
    max-width: 90rem;
    max-height: 23rem;
    padding-left: 13rem;
    padding-right: 1rem;
    grid-area: hero-text;
    grid-template-columns: 2;
    grid-auto-rows: 1;
  }

  .hero-text h3 {
    padding-top: 2rem;
  }

.title {
    margin: 0 auto;
    font: 2.4rem/150% "Muli", sans-serif;
    font-weight: 600;
    color: #0C3F60;
}

  .mainprojects {
    text-align: center;
    grid-area: mp;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin: 8rem auto;
  /*
    padding: 5rem 4rem;
    grid-template-areas:
      " recbook"
      " projects ";
      grid-template-columns: 230px 4fr 1fr;
      grid-template-rows: 230px repeat;*/
  }

  #description {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

.project{
  background-color: #F7FAFB;
  border-radius: .5rem .5rem .5rem .5rem;
  height: 23rem;
  width: 30rem;
  text-align: center;
  margin: 4rem;

/*
  justify-content: space-around;
  display: grid;
  align-content: space-between;
  grid-area: project;*/
}

.project h3{
    padding-top: 3rem;
}

.button {
  border-radius: 2rem;
  padding: 1rem 6rem;
  width: 20rem;
  font: 1.4rem/150% "Muli", sans-serif;
  font-weight: 700;
  color: #000508;
  border: 1px solid #57BFAF;
  text-decoration: none;
  justify-content: center;
  text-align: center;
}

.button:hover {
  background: #57BFAF;
  color: #000508;
}

footer {
  grid-area: footer;
  border-top: 3px solid #B9C7D1;
  text-align: center;
  width: 100%;
/*  z-index: 1;*/
}

#connect {
  color: #57BFAF;
  padding-bottom: 3rem;
}

ul#social li {
  height: 100%;
  display: inline;
  height: 2.8rem;
  width: 2.8rem;
  padding: 2rem;
  vertical-align: center;
  color: #000508;
}
#social:hover{
  color: blue;
}

@media screen and (max-width:59rem){
  .logoname {
    margin: 7rem auto;
  }

 .name{
    padding-bottom: 3rem;
    padding-left: 1rem;
 }

  .last {
     padding-left: 1rem;
  }

  .hero-text{
    vertical-align: middle;
  }
}

@media screen and (min-width:60rem){

  .logoname {
    margin: 13rem auto;
    display: flex;
    flex-direction: row;

    /*   grid-template-columns: 30%, 15%, 55%;
    grid-template-rows: 8rem;
 margin: 7rem auto;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 2, 1fr;
    display: flex;*/
  }

.logo {
    margin: 2rem 0 2rem 4rem;
}

  .name {
    margin: auto 1rem;
    float: left;
  }

  .first {
    /*grid-column: 2;
    grid-row: 1;*/
  }


  .last {
    /*grid-column: 3;
    grid-row: 1;*/
    float: left;
  }

  .hero-text {
    padding-left: 18rem;
    padding-top: 7rem;
}

.hero-text h3 {
  padding-top: 0;
}

#slogan {
  padding-top: 2rem;
}

.main {
  display: flex;
  flex-direction: row;
}

.mainprojects {
    padding-top: 18rem;
}

  /*  body {
  grid-template-columns: 2fr, 8fr, 2fr;
    "logoname logoname logoname"
    ". nav . "
    "mp mp mp"
    "hero hero hero"
    ". main . "
    ". footer . ";
    margin: 1rem, 1rem;
  }*/

  /*.lastname{
    grid-column: auto;
  }*/.logoname {
  grid-template-columns: 3fr, 3fr, 3fr;
  grid-template-areas:
  ". logo . ."
  ". . first ."
    ". . . last";
}

.logoname {
  grid-template-columns: 2fr, 10fr;
  grid-template-areas:
  "bonpic . "
  ". hero-text";
}
